@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  line-height: 20px;
}

.label._size_lg {
  padding: 8px 12px;
}

.label._size_sm {
  padding: 5px 8px;
  font-size: 14px;
  line-height: 16px;
}

.label._theme_red {
  background: config.$colors-red;
  color: config.$colors-white;
}

.label._theme_white {
  color: config.$colors-red;
  background: config.$colors-white;
}

.label._type_default {
  color: config.$colors-black-100;
  font-family: config.$font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.label._type_default._size_sm {
  font-size: 12px;
  line-height: 14px;
}

.label._type_status {
  color: config.$colors-black-100;
  font-family: config.$font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 10px;
}

.label._type_status._size_sm {
  font-size: 14px;
  line-height: 16px;
  padding: 8px;
}

.label._square {
  justify-content: center;
}

.label._size_lg._square {
  width: 36px;
  height: 36px;
  padding: 0;
}

.label._size_sm._square {
  width: 24px;
  height: 24px;
  padding: 4px;
}
