@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.icon {
  max-width: 100%;
  max-height: 100%;
}

.icon._theme_grey {
  color: config.$colors-cyan-100;
}

.icon._theme_white {
  color: config.$colors-white;
}

.icon._size_xxs {
  width: 13px;
  height: 13px;
}

.icon._size_xs {
  width: 16px;
  height: 16px;
}

.icon._size_s {
  width: 20px;
  height: 20px;
}

.icon._size_sm {
  width: 24px;
  height: 24px;
}

.icon._size_xl {
  width: 50px;
  height: 50px;
}

.icon._type_logo {
  cursor: pointer;
  width: 244px;
  height: 20px;

  @media only screen and (max-width: config.$bp-sm) {
    width: 183px;
    height: 15px;
  }

  @media only screen and (max-width: config.$bp-s) {
    width: 100px;
    height: 12px;
  }
}

.icon._max-size-md {
  max-height: 32px;
  max-width: 80px;
}

.icon._max-size-sm {
  max-height: 32px;
  max-width: 42px;
}
