@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.input {
  @include lib.flex-col;
  width: 100%;
  gap: 8px;

  @media only screen and (max-width: config.$bp-tablet) {
    gap: 4px;
  }

  &__label {
    color: config.$colors-white;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-left: 20px;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 14px;
      margin-left: 12px;
    }
  }

  &__field {
    display: flex;
    padding: 18px 20px;
    align-items: center;
    border-top: 1px solid config.$colors-white-50;
    border-bottom: 1px solid config.$colors-white-50;
    border-right: none;
    border-left: none;
    overflow: hidden;
    color: config.$colors-white;
    transition: color .3s ease, background-color .3s ease, border-bottom-color .3s ease, border-left-color .3s ease, border-top-color .3s ease, border-right-color .3s ease;
    max-height: 65px;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 14px;
      max-height: 33px;
      padding: 8px 12px;
    }

    &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
      color: config.$colors-white-50;
    }

    &:hover, &:focus {
      outline: none;
    }

    &:hover{
      color: config.$colors-white-70;
    }

    &:focus {
      color: config.$colors-white;
    }
  }

  &__field-input {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    color: config.$colors-black-100;
    font-family: config.$font-secondary;
    line-height: 20px;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }

    &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
      color: config.$colors-cyan-100;
    }
  }

  &__text {
    color: config.$colors-red;
    font-family:  config.$font-secondary;
    font-size: 12px;
    line-height: 14px;
    display: none;
  }

  input {
    background-color: transparent;
  }
}

.input._error, .input:invalid {
  position: relative;

  .input__field {
    color: config.$colors-red;
    border-top: 1px solid config.$colors-red;
    border-bottom: 1px solid config.$colors-red;
  }
}
