mixin paginationTypeDefault(params)
    -
        const classes = params.mix ? `pagination ${params.mix}` : 'pagination';

    div(class= classes )
        .pagination__container
            +buttonTypeDefault({
                mix: '_theme_light-black',
                type: 'button',
                text: 'Previous'
            })
            .pagination__counter
                +buttonTypeDefault({
                    mix: '_theme_light-black',
                    type: 'button',
                    text: '1'
                })
                +buttonTypeDefault({
                    mix: '_theme_light-black',
                    type: 'button',
                    text: '2'
                })
                +buttonTypeDefault({
                    mix: '_theme_light-black active',
                    type: 'button',
                    text: '3'
                })
                +buttonTypeDefault({
                    mix: '_theme_light-black',
                    type: 'button',
                    text: '4'
                })
                +buttonTypeDefault({
                    mix: '_theme_light-black',
                    type: 'button',
                    text: '...'
                })
                +buttonTypeDefault({
                    mix: '_theme_light-black',
                    type: 'button',
                    text: '20'
                })
            +buttonTypeDefault({
                mix: '_theme_light-black',
                type: 'button',
                text: 'Next'
            })



