mixin inputTypePassword(params)
    -
        const classes = params.mix ? `input ${params.mix}` : 'input';

    div(class= classes data-type="password")
        if(params.label)
            .input__top
                label.input__label(for=params.id)!= params.label

                if(!params.hidePasswordLink)
                    span.input__link(href="javascript:" data-bs-toggle='modal' data-bs-target='#Forgot-password') Forgot password?
        .input__field
            input.input__field-input(type="password" id=params.id value= params.value placeholder="Password" name= params.name)&attributes(attributes)
            button.input__password-toggler(type="button")
                +icon({
                    mix: '_size_sm input__password-icon',
                    id: 'password-unlock'
                })
        if(params.helpText)
            span.input__text!= params.helpText
