mixin inputTypeTextarea(params)
    -
        const classes = params.mix ? `input _type_textarea ${params.mix}` : 'input _type_textarea';

    div(class= classes data-type= params.dataType)
        if(params.label)
            label.input__label(for=params.id)!= params.label
        textarea.input__field(id=params.id value= params.value placeholder= params.placeholder name= params.name)
        if(params.helpText)
            span.input__text!= params.helpText
