mixin buttonTypeDefault(params)
    -
        const classes = params.mix ? `button ${params.mix}` : 'button';

    button(class= classes, type=params.type || 'button')&attributes(attributes)
        span!= params.text
            span._mob_hidden!= params.mobHiddenText
