@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.section {

  @media only screen and (max-width: config.$bp-sm) {
    margin-top: 48px;
  }

  &:first-child {
    margin-top: 0;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 0;
    }
  }

  &__content {
    margin-top: 64px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 30px;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:has(+ .s-profile) {
      justify-content: unset;
    }

    &:has(.section__back-button) {
      column-gap: 20px;

      @media only screen and (max-width: config.$bp-lg) {
        display: flex;
      }
    }

    h1,h2 {
      color: config.$colors-black-100;
      font-family: config.$font-primary;
      text-transform: uppercase;
      max-width: 999px;
      width: fit-content;
    }

    h1 {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0.8px;
    }

    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.02em;
    }

    h1 {
      @media only screen and (max-width: config.$bp-sm) {
        font-size: 32px;
        line-height: 40px;
      }
    }

    h2 {
      @media only screen and (max-width: config.$bp-sm) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  &__bottom {
    margin-top: 60px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 30px;
    }
  }

  h2 {
    margin-top: 64px;
    margin-bottom: 12px;
    color: config.$colors-black-100;
    font-family: config.$font-primary;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    strong {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      text-transform: inherit;
    }

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 48px;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 30px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-bottom: 15px;
    }
  }

  &__profile {
    h1 {
      color: config.$colors-black-100;
      font-family: config.$font-primary;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0.8px;
      text-transform: uppercase;

      @media only screen and (max-width: config.$bp-lg) {
        display: none;
      }
      @media only screen and (max-width: config.$bp-sm) {
        font-size: 25px;
        line-height: 33px;
      }
    }
  }

  &__title {
    color: config.$colors-black-100;
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 60px;

    &._bottom {
      margin-bottom: 0;
    }

    @media only screen and (max-width: config.$bp-sm) {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.64px;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    color: config.$colors-black-100;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.88px;
    text-transform: uppercase;
  }

  &__search {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    column-gap: 30px;

    &-input {
      width: 100%;
    }

    @media only screen and (max-width: config.$bp-sm) {
      flex-direction: column;
      column-gap: 0;
      row-gap: 30px;
      align-items: baseline;
    }
  }

  &__filters {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: config.$bp-sm) {
      column-gap: 10px;
    }
  }

  &__category-filter {

    &:first-of-type {
      max-width: 296px;
      width: 100%;
    }

    &:last-of-type {
      max-width: 80px;
      width: 100%;
    }
  }

  &__tabs  {
    width: 100%;
    display: flex;
    column-gap: 20px;
    margin-bottom: 64px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-bottom: 30px;
    }
  }

  &__tab {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: config.$colors-black-100;
    font-family: config.$font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 1px solid config.$colors-cyan-100;
    padding: 12px 30px;
    height: 60px;

    &._type_active {
      color: #FFFFFF;
      background-color: config.$colors-red;
    }

    @media only screen and (max-width: config.$bp-sm) {
      font-size: 16px;
      padding: 12px;
    }
  }

  &__list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 20px;

    &._sm-grid {
      grid-template-columns: repeat(4, 1fr);

      @media only screen and (max-width: config.$bp-md) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media only screen and (max-width: config.$bp-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &._horizontal {
      max-width: 100%;
      margin-top: 32px;
      margin-bottom: 32px;
      display: flex;
      grid-template-columns: unset;
      flex-direction: column;
      row-gap: 20px;

      @media only screen and (max-width: config.$bp-sm) {
        row-gap: 10px;
      }
    }

    @media only screen and (max-width: config.$bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }

  &__comments-top {
    border-bottom: 1px solid config.$colors-cyan-100;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  &__comments-count {
    color: config.$colors-black-100;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    .count-element {
      color: config.$colors-black-100;
      font-size: 20px;
      font-weight: 500;
      line-height: 120%;
      letter-spacing: 0.4px;
      text-transform: uppercase;

      @media only screen and (max-width: config.$bp-sm) {
        font-size: 18px;
        letter-spacing: 0.36px;
      }
    }

    @media only screen and (max-width: config.$bp-sm) {
      font-size: 18px;
      letter-spacing: 0.36px;
    }
  }

  &__comments {
    @include lib.flex-col;
    gap: 32px;

    @media only screen and (max-width: config.$bp-sm) {
      gap: 24px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 50px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 30px;
      line-height: 20px;
    }
  }

  &_text, &__text {
    color: config.$colors-black-100;
    font-family: config.$font-secondary;
    font-size: 18px;
    line-height: 150%;

    @media only screen and (max-width: config.$bp-sm) {
      font-size: 16px;
    }
  }

  &__subtext {
    color: config.$colors-black-100;
    font-family: config.$font-secondary;
    line-height: 24px;
  }

  &__subtext._theme_red {
    color: config.$colors-red;
  }

  &__result {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media only screen and (max-width: config.$bp-sm) {
      row-gap: 10px;
      column-gap: 12px;
    }
  }

  &__card {
    width: calc(25% - 15px);

    @media only screen and (max-width: config.$bp-md) {
      width: calc(33.33% - 13.33px);
    }

    @media only screen and (max-width: config.$bp-sm) {
      width: calc(50% - 6px);
    }
  }

  &__card._size_md {
    width: calc(33.33% - 13.33px);

    @media only screen and (max-width: config.$bp-sm) {
      width: calc(50% - 6px);
    }
  }

  &__card._mob-size_lg {

    @media only screen and (max-width: config.$bp-sm) {
      width: 100%;
    }

    .card-blog__image {
      @media only screen and (max-width: config.$bp-sm) {
        height: 58.88vw;
      }
    }
  }

  &__container {
    margin-top: 60px;
    display: flex;
    column-gap: 40px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 30px;
    }
  }

  &__main {
    width: calc(100% - 355px);

    @media only screen and (max-width: config.$bp-lg) {
      width: 100%;
    }
  }

  &__article {
    margin-top: 64px;
    margin-bottom: 32px;
    overflow: hidden;

    h3 {
      color: config.$colors-black-100;
      font-family: config.$font-primary;
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      letter-spacing: 0.02em;

      strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }

      @media only screen and (max-width: config.$bp-sm) {
        font-size: 22px;
        line-height: 26px;
      }
    }

    p {
      color: config.$colors-black-100;
      font-family: config.$font-secondary;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin-top: 30px;

      @media only screen and (max-width: config.$bp-sm) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    ul {
      li {
        color: config.$colors-black-100;
        font-family: config.$font-secondary;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        list-style-type: none;

        &::marker {
          display: none;
          width: 0;
          height: 0;
        }
        &::before {
          content: '- ';
        }

        &:has(p) {
          position: relative;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
          }

          p {
            padding-left: 12px;
          }
        }
      }
    }

    span, b, a {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
    }
  }

  &__message {
    display: flex;
    column-gap: 10px;
    min-width: fit-content;

    svg {
      width: 20px;
      height: 20px;
    }

    p {
      color: config.$colors-unactive-text;
      font-family: config.$font-secondary;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__slider {
    margin-top: 64px;
    height: fit-content;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 30px;
    }

    &-wrapper {
      position: relative;
      width: 100%;
    }
    &-arrows {
      pointer-events: none;
      position: absolute;
      top: 204px;
      left: -20px;
      width: calc(100% + 40px);
      height: 40px;
      z-index: 10;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: config.$bp-sm) {
        top: 86px;
      }
    }
  }

  &__back-button {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.16521 12.7149C2.81212 12.303 2.81212 11.6951 3.16521 11.2832L9.16521 4.28317C9.56057 3.82191 10.255 3.76849 10.7163 4.16386C11.1775 4.55922 11.2309 5.25365 10.8356 5.71491L6.39203 10.899L20.0004 10.899C20.6079 10.899 21.1004 11.3915 21.1004 11.999C21.1004 12.6066 20.6079 13.099 20.0004 13.099L6.39203 13.099L10.8356 18.2832C11.2309 18.7444 11.1775 19.4389 10.7163 19.8342C10.255 20.2296 9.56057 20.1762 9.16521 19.7149L3.16521 12.7149Z' fill='%23141414'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;

    &._order {
      display: none;

      @media only screen and (max-width: config.$bp-sm) {
        display: block;
      }
    }

    @media only screen and (max-width: config.$bp-xl) {
      display: block;
    }
  }
}

.section._padding-top_m {
  padding-top: 30px;
}

.section._padding-top_md {
  padding-top: 64px;

  @media only screen and (max-width: config.$bp-sm) {
    padding-top: 0;
  }
}

.section._padding-bottom_md {
  padding-bottom: 64px;

  @media only screen and (max-width: config.$bp-sm) {
    padding-bottom: 32px;
  }
}

.section--cart {
  .section__heading {
    margin-top: 30px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 15px;
    }
  }
}

.section--userpage {
  .breadcrumbs {
    @media only screen and (max-width: config.$bp-sm) {
      display: none;
    }
  }
  .section__heading {
    justify-content: unset;
    column-gap: 20px;
    margin-top: 30px;

    @media only screen and (max-width: config.$bp-md) {
      flex-direction: column;
      align-items: flex-start;
      column-gap: 0;
      row-gap: 24px;
    }
    @media only screen and (max-width: config.$bp-sm) {
      margin-top: 15px;
    }
  }
  .section__label {
    height: 36px;
    @media only screen and (max-width: config.$bp-sm) {
      padding: 6px 8px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.section {
  .section__heading {
    h2 {
      margin-top: 0;
    }
  }
}

.s-blogs {
  .section__heading {
    margin-bottom: 64px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-bottom: 30px;
    }
  }
}

.section--category {
  .section__heading {
    margin-top: 30px;

    @media only screen and (max-width: config.$bp-sm) {
      margin-bottom: 15px;
    }
  }
}

.section--about {

}
