@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.section {
  padding-bottom: 92px;

  @media only screen and (max-width: config.$bp-tablet) {
    padding-bottom: 48px;
  }

  &:last-child {
    padding-bottom: 40px;

    @media only screen and (max-width: config.$bp-tablet) {
      padding-bottom: 117px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 228px;
        height: 94px;
        left: calc(50% - 114px);
        bottom: 0;
        background-image: url('data:image/svg+xml,<svg width="227" height="93" viewBox="0 0 227 93" fill="none" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode:hard-light"><path fill-rule="evenodd" clip-rule="evenodd" d="M98.8763 93H98.3763V92.5V83.2129L76.3903 83.1571L31.7091 83.0437L0 82.9633L0.00253772 81.9633L31.2104 82.0425L31.2104 17.0811V16.5811H31.7104L194.292 16.5811H194.792V17.0811V82.4576L226.003 82.5368L226 83.5368L194.291 83.4563L150.474 83.3451L128.203 83.2886V92.5V93H127.703L98.8763 93ZM127.203 83.2861L99.3763 83.2154V92L127.203 92V83.2861ZM32.2104 17.5811L32.2104 82.045L75.8916 82.1558V60.956V60.456H76.3916H150.476H150.976V60.956V82.3464L193.792 82.455V17.5811L32.2104 17.5811ZM76.8916 61.456V82.1584L98.8775 82.2142L127.704 82.2873L149.976 82.3439V61.456L76.8916 61.456ZM79.6264 15.6717C80.8111 14.3314 82.1082 13.0617 83.5093 11.8728C87.3889 8.58106 91.9904 5.97334 97.0495 4.19531C102.109 2.41727 107.529 1.50281 113.001 1.50281C118.473 1.50281 123.893 2.41727 128.952 4.19531C134.012 5.97334 138.613 8.58105 142.493 11.8728C143.894 13.0617 145.191 14.3314 146.376 15.6717L145.626 16.3339C144.474 15.0302 143.211 13.7939 141.846 12.6353C138.064 9.42699 133.571 6.87854 128.621 5.13874C123.671 3.39895 118.363 2.50281 113.001 2.50281C107.639 2.50281 102.331 3.39894 97.3811 5.13874C92.4308 6.87854 87.9375 9.427 84.1563 12.6353C82.7908 13.7939 81.528 15.0302 80.3756 16.3339L79.6264 15.6717ZM113.501 30.0028C114.33 30.0028 115.001 30.6744 115.001 31.5028C115.001 32.3312 114.33 33.0028 113.501 33.0028C112.673 33.0028 112.001 32.3312 112.001 31.5028C112.001 30.6744 112.673 30.0028 113.501 30.0028Z" fill="url(%23paint0_linear_1255_4787)"/></g><defs><linearGradient id="paint0_linear_1255_4787" x1="107.728" y1="103.086" x2="109.232" y2="-31.2608" gradientUnits="userSpaceOnUse"><stop stop-color="%231E1D1D"/><stop offset="0.250787" stop-color="%234FF94B"/><stop offset="0.65" stop-color="%234FF94B"/><stop offset="1" stop-color="%231E1D1D"/></linearGradient></defs></svg>');
      }
    }
  }

  &__top {
    display: flex;
    padding-top: 36px;

    @media only screen and (max-width: config.$bp-tablet) {
      flex-direction: column;
      padding-top: 16px;
    }
  }

  &__title {
    font-family: config.$font-primary;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: right;
    color: config.$colors-white;
    display: flex;
    width: max-content;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 0 auto;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 32px;
      letter-spacing: -2%;
      text-align: left;
      justify-content: flex-start;
      margin: 0;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 22px;
      background: config.$colors-bg;
      bottom: 0;

      @media only screen and (max-width: config.$bp-tablet) {
        height: 7px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 400px);
      height: 1px;
      background: linear-gradient(90deg, #1E1D1D 30%, #000000 75.5%, #1E1D1D 100%);
      bottom: 22px;
      right: -60px;

      @media only screen and (max-width: config.$bp-tablet) {
        bottom: 7px;
        right: auto;
        left: -20px;
        width: calc(100% + 90px);
        background: linear-gradient(90deg, #1E1D1D 0%, #000000 30%, #1E1D1D 80%);
      }
    }
  }

  &__text {
    font-family: config.$font-primary;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 3%;
    color: config.$colors-white;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 16px;
      letter-spacing: 0%;
      width: 95%;
    }
  }

  &__ps {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: config.$colors-white-50;
    background: config.$colors-bg;
    margin-top: 20px;
    display: inline-block;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 16px;
      margin-top: 12px;
    }
  }
}
