section.section.s-trainers#trainers
    .container
        .section__content
            h2.section__title ТРЕНЕРСКИЙ СОСТАВ
            .section__top.s-trainers__top
                p.section__text.s-trainers__text
                    | Каждый тренер детской футбольной школы «FOOTBALL SKILLS» это друг, вдохновитель, мотиватор и наставник для каждого юного футболиста
                    br
                    br
                    | Сбалансированный подход к тренировкам и учёт возрастных особенностей это ключ к успешному развитию и формированию ценных качеств у ребёнка
                +image({mix: "s-trainers__image", src: 'assets/media/FS.png', alt: ""})
            .swiper-container.s-trainers__swiper-container
                .swiper.s-trainers__swiper
                    .swiper-wrapper.s-trainers__swiper-wrapper
                        each el in trainers
                            .swiper-slide.s-trainers__swiper-slide
                                +cardTriner(el)
                    .swiper-button-prev.s-trainers__swiper-button
                    .swiper-button-next.s-trainers__swiper-button
                    .swiper-pagination.s-trainers__swiper-pagination
            span.section__ps / Ваш УСПЕХ — наша ПОБЕДА! /



