section.section.s-schedule#schedule
    .container
        .section__content
            h2.section__title РАСПИСАНИЕ ТРЕНИРОВОК
            .section__top.s-schedule__top
                p.section__text.s-schedule__text Для удобства юных футболистов и их родителей тренировки детской футбольной школы «FOOTBALL SKILLS» проводятся в вечернее время во всех районах города. В летнее время тренировки проводятся на открытых площадках города, что способствует поддерживать физическую форму, развивать технические навыки и улучшать параметры организма
                +image({mix: "s-schedule__image", src: 'assets/media/BOYS.png', alt: "boys"})


            .swiper-container.s-schedule__swiper-container
                .swiper.s-schedule__swiper-thumbs(thumbsSlider='')
                    .swiper-wrapper.s-schedule__swiper-thumbs-wrapper
                        each el in districts
                            if el.filials
                                .swiper-slide.s-schedule__swiper-thumbs-slide
                                    span.s-schedule__swiper-thumbs-num!= `0${el.num}/ /`
                                    span.s-schedule__swiper-thumbs-title!= el.district

                            else
                                .swiper-slide.s-schedule__swiper-thumbs-slide.disabled
                                    span.s-schedule__swiper-thumbs-num!= `0${el.num}/ /`
                                    span.s-schedule__swiper-thumbs-title!= el.district


                .swiper.s-schedule__swiper
                    .swiper-wrapper.s-schedule__swiper-wrapper
                        each el in districts
                            if el.filials
                                .swiper-slide.s-schedule__swiper-slide
                                    +cardDistrict({
                                        mix: "s-schedule__card-district",
                                        district: el.district,
                                        filials: el.filials
                                    })



            span.section__ps.s-schedule__ps._mob_hidden / То, что ты делаешь до начала сезона, делает чемпиона! /
            span.section__ps._mob_flex / БУДУЩЕЕ СЕЙЧАС! /
            +buttonTypeDefault({text: "Записаться ", mobHiddenText: "НА БЕСПЛАТНОЕ ЗАНЯТИЕ", mix: "_size_md s-schedule__button"})(data-bs-toggle='modal' data-bs-target='#form')



