section.s-hero#hero
    +image({mix: "s-hero__bg", src: 'assets/media/hero-bg.png', alt: ""})
    .s-hero__container
        .s-hero__content
            span.s-hero__subtitle Первое занятие бесплатно!
            span.s-hero__left-subtitle CHILDREN'S FOOTBALL SCHOOL
            h1.h1
                +image({mix: "s-hero__title-img _mob_hidden", src: 'assets/media/title.png', alt: "football skills"})
                +image({mix: "s-hero__title-img_mob _mob_block", src: 'assets/media/title-mob.png', alt: "football skills"})

            p.s-hero__announce
                | объявляет набор
                br
                | мальчиков и девочек в возрасте 3+
                br
                | от 3 000
                svg.s-hero__announce-rub
                    use(xlink:href=`assets/icons/default/sprite.svg#rub`)
                | /месяц

            +buttonTypeDefault({text: "Записаться", mobHiddenText: "НА БЕСПЛАТНОЕ ЗАНЯТИЕ", mix: "_size_md s-hero__button"})(data-bs-toggle='modal' data-bs-target='#form')
        .s-hero__ball-container._mob_hidden
            +image({mix: "s-hero__ball ", src: 'assets/media/ball.png', alt: "ball"})

