@use '../../core/config/scss/index' as config;
@use '../../core/lib/scss/index' as lib;

.s-news {
  padding-top: 209px;

  &:after {
    display: none !important;
  }

  @media only screen and (max-width: config.$bp-tablet) {
    padding-top: 124px;
    padding-bottom: 20px !important;
  }

  &__content  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 32px;

    @media only screen and (max-width: config.$bp-tablet) {
      gap: 12px;
      margin-top: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 40px;
    border-top: 1px solid config.$colors-white-50;
    border-bottom: 1px solid config.$colors-white-50;

    @media only screen and (max-width: config.$bp-tablet) {
      padding: 12px 0;
      gap: 12px;
      flex-direction: column;
    }
  }

  &__item-image {
    flex-shrink: 0;
    width: 300px;
    height: 300px;

    @media only screen and (max-width: config.$bp-tablet) {
      width: calc(100vw - 40px);
      height: calc(100vw - 40px);
    }
  }

  &__item-info {
    display: flex;
    align-items: flex-start;
    gap: 36px;

    @media only screen and (max-width: config.$bp-tablet) {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }

  &__item-text {
    min-height: 300px;
    height: max-content;
    display: flex;
    align-items: center;

    @media only screen and (max-width: config.$bp-tablet) {
      min-height: max-content;
    }

    p {
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 3%;
      word-break: break-all;

      @media only screen and (max-width: config.$bp-tablet) {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }

  &__item-date {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 16px;
    }
  }
}
