section.section.s-news#news
    .container
        .section__content
            h2.section__title НОВОСТИ

            .section__main.s-news__content
                .s-news__item
                    +image({mix: "s-news__item-image", alt: "", src: 'assets/media/news.png'})
                    .s-news__item-info
                        .s-news__item-text
                            p
                                | Мы рады приветствовать Вас на сайте детской
                                br
                                | футбольной школы «FOOTBALL SKILLS» г. Кемерово!
                        .s-news__item-date 02/04/2025

                .s-news__item
                    +image({mix: "s-news__item-image", alt: "", src: 'assets/media/news.png'})
                    .s-news__item-info
                        .s-news__item-text
                            p ххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххххх
                        h4.s-news__item-date 02/04/2025

            a(href="index.html").section__ps / НА ГЛАВНУЮ /



