@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 60px;

  @media only screen and (max-width: config.$bp-tablet) {
    padding: 20px 20px 24px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: right;
    display: inline-flex;
    margin: 0 0 32px auto;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 24px;
      margin: 0 auto 12px;
    }
  }

  &__radio-accordion {
    margin-bottom: 20px;
    width: 100%;

    @media only screen and (max-width: config.$bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__input {
    margin-bottom: 20px;
    width: 100%;

    @media only screen and (max-width: config.$bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__bottom {
    width: 522px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: config.$bp-tablet) {
      width: 100%;
      gap: 12px;
    }
  }

  &__button {
    width: 100%;
    margin-top: 12px;

    @media only screen and (max-width: config.$bp-tablet) {
      margin-top: 4px;
      padding-left: 0;
      padding-right: 0;
    }

    span {

      @media only screen and (max-width: config.$bp-tablet) {
        font-size: 20px;
        line-height: 100%;
      }
    }
  }

  &__labels-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__text-bottom {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 12px;
    }
  }

  &__text-bottom._type_link {
    text-decoration: underline;
  }
}
