@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.header {
  width: 100vw;
  padding: 20px 0 16px;
  background: config.$colors-black-95;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;

  @media only screen and (max-width: config.$bp-md) {
    padding: 16px 0 12px;
    display: flex;
    align-items: center;
    flex-direction: column;


    &:after, &:before {
      content: '';
      top: 31px;
      width: calc(50% - 59px);
      height: 1px;
      position: absolute;
    }

    &:before {
      left: 0 ;
      background: linear-gradient(90deg, #000000 0%, #1E1D1D 100%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, #1E1D1D 0%, #000000 100%);

    }
  }

  &__button {
    cursor: pointer;
    transition: .3s ease;

    @media only screen and (max-width: config.$bp-md) {
      margin-top: 16px;
    }
  }

  &__button-desktop {

    @media only screen and (max-width: config.$bp-md) {
      display: none;
    }
  }

  &__icon-button {
    width: 12px;
    height: 12px;
  }

  &__top {
    padding: 0 min(60px, 4.16vw) 20px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid config.$colors-black;

    @media only screen and (max-width: config.$bp-md) {
      padding: 0;
      border: none;
      justify-content: center;

    }
  }

  &__nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px min(116px, 8vw) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media only screen and (max-width: config.$bp-md) {
      flex-direction: column;
      gap: 24px;
      padding: 0;
      margin: 32px 0 40px;
      display: none;
    }
  }



  &__contacts {
    display: flex;
    align-items: center;
    gap: 72px;

    @media only screen and (max-width: config.$bp-md) {
      display: none;
    }
  }

  &__contacts._mob {
    display: none;
  }

  &__contacts._mob {

    @media only screen and (max-width: config.$bp-md) {
      flex-direction: column;
      gap: 24px;
      padding-bottom: 35px;
      display: none;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  &__city, &__nav-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__nav-item {
    transition: color .3s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: config.$colors-green;
    }
  }

  &__logo {
    width: 74px;
    height: 68px;

    @media only screen and (max-width: config.$bp-md) {
      width: 36px;
      height: 34px;
    }
  }
}


.header._active {
  height: 100vh;

  .header__button {
    transform: rotate(45deg);
  }

  .header__nav, .header__contacts._mob {
    display: flex;
  }
}
