mixin header(auth, search)
    header.header
        .container
            .header__top
                +icon({
                    mix: '_type_logo',
                    type: 'default',
                    id: 'logo'
                })
                .header__top-items
                    if search
                        a(href="javascript:").header__button._tab-flex
                            +icon({
                                mix: '_theme_grey _size_sm',
                                type: 'default',
                                id: 'search'
                            })
                    a(href="javascript:").header__button._tab-hidden
                        +icon({
                            mix: '_theme_grey _size_sm',
                            type: 'default',
                            id: 'word'
                        })
                        span.header__nav-title RU
                    button.header__button._tab-hidden
                        +icon({
                            mix: '_theme_grey _size_sm',
                            type: 'default',
                            id: 'email'
                        })
                        span.header__nav-title Contact us
                    if auth == true
                      a(href="javascript:").header__button
                          .header__icon-container
                              +icon({
                                  mix: '_theme_grey _size_sm',
                                  type: 'default',
                                  id: 'account'
                              })
                          .row-col
                              span.header__nav-title._tab-hidden Personal account
                              span.header__nav-subtitle._tab-hidden Username
                    else
                      div.header__button-container
                        .header__icon-container
                                +icon({
                                    mix: '_theme_grey _size_sm',
                                    type: 'default',
                                    id: 'account'
                                })
                        a(data-bs-toggle='modal' data-bs-target='#login').header__button
                              .row-col
                                  span.header__nav-title._tab-hidden Login
                        span.header__nav-split /
                        a(data-bs-toggle='modal' data-bs-target='#Register').header__button
                              .row-col
                                  span.header__nav-title._tab-hidden Register
                    if auth == true
                      a(href="javascript:").header__button
                          .header__icon-container
                              +icon({
                                  mix: '_theme_grey _size_sm',
                                  type: 'default',
                                  id: 'shop'
                              })
                              .count._theme_red.header__count 2
                          .row-col
                              span.header__nav-title._tab-hidden Cart
                              span.header__nav-subtitle._tab-hidden 2 items
                    else
                      a(href="javascript:").header__button
                          .header__icon-container
                              +icon({
                                  mix: '_theme_grey _size_sm',
                                  type: 'default',
                                  id: 'shop'
                              })
                          .row-col
                              span.header__nav-title._tab-hidden Cart
                    button.header__burger._tab-flex
                        +icon({
                            mix: '_theme_grey _size_sm',
                            type: 'default',
                            id: 'burger'
                        })
            .header__content
                .header__menu
                    +icon({
                        mix: '_theme_grey _size_sm header__close-icon',
                        type: 'default',
                        id: 'cross'
                    })
                    nav.header__nav
                        a(href="javascript:").header__nav-title Patterns
                        a(href="javascript:").header__nav-title Video tutorials
                        a(href="javascript:").header__nav-title Blog
                        a(href="javascript:").header__nav-title Feedback
                        a(href="javascript:").header__nav-title FAQ
                        a(href="javascript:").header__nav-title About us
                        a(href="javascript:").header__nav-title Contacts
                    .header__menu-links._tab-flex
                        a(href="javascript:").header__button._type_mob-menu
                          .header__icon-container
                            +icon({
                                mix: '_theme_grey _size_sm',
                                type: 'default',
                                id: 'account'
                            })
                          span.header__nav-title Login / register
                        a(href="javascript:").header__button._type_mob-menu
                            .header__icon-container
                                +icon({
                                    mix: '_theme_grey _size_sm',
                                    type: 'default',
                                    id: 'shop'
                                })
                            .row-col
                                span.header__nav-title Cart
                        button(type="button").header__button._type_mob-menu
                          .header__icon-container
                            +icon({
                                mix: '_theme_grey _size_sm',
                                type: 'default',
                                id: 'email'
                            })
                          .header__nav-title Contact us
                        a(href="javascript:").header__button._type_mob-menu
                          .header__icon-container
                            +icon({
                                mix: '_theme_grey _size_sm',
                                type: 'default',
                                id: 'word'
                            })
                          span.header__nav-title RU
                //- if search
                +inputTypeSearch({
                    mix: 'header__search _tab-hidden',
                    placeholder: 'What do you search',
                    type: 'text',
                    hideIcon: false,
                    dropdownElems: ['Patterns of women’s pinafores', 'Plus size sewing patterns', 'All patterns', 'Patterns', 'Clothing sewing patterns', 'Free patterns']
                })

    +modalTypeDefault({id: 'Register', title: 'Register'})
            +modalBodyTypeDefault({})
                .modal-form
                    +inputTypeDefault({
                        mix: '',
                        label: 'Name*',
                        placeholder: '',
                        type: 'Text',
                        mask: 'text',
                    })(required)
                    +inputTypeDefault({
                        mix: '',
                        label: 'Surname*',
                        placeholder: '',
                        type: 'Text',
                        mask: 'text',
                    })(required)
                    +inputTypeDefault({
                        mix: '',
                        label: 'Day of birth*',
                        type: 'text',
                        mask: 'date'
                    })(required)
                    +inputTypeDefault({
                        mix: '',
                        label: 'E-mail',
                        placeholder: '',
                        type: 'text',
                        mask: 'email',
                    })(required)
                    +inputTypePassword({
                        mix: '',
                        label: 'Password*',
                        dataType: 'password',
                        hidePasswordLink: true
                    })(required)
                    +inputTypePassword({
                        mix: '',
                        label: 'Repeat password*',
                        dataType: 'password',
                        hidePasswordLink: true
                    })(required)
                    +checkboxTypeDefault({
                        name: 'register checkbox',
                        id: 'regCheckbox',
                        label: 'I want to receive the newsletter'
                    })
            +modalFooterTypeDefault({btnText: 'Register'})
                span.modal-footer-subtext By creating an account, you agree to Conditions of Use and Privacy Policy.
                span.modal-footer-text Already have an account?
                    a(href="javascipt:" data-bs-toggle='modal' data-bs-target='#login') Log in.

    +modalTypeDefault({id: 'login', title: 'log in'})
            +modalBodyTypeDefault({})
                .modal-form
                    +inputTypeDefault({
                        mix: '',
                        label: 'Login*',
                        placeholder: '',
                        type: 'Text',
                    })(required)
                    +inputTypePassword({
                        mix: '',
                        label: 'Password*',
                        dataType: 'password'
                    })(required)
            +modalFooterTypeDefault({btnText: 'Log in'})
                span.modal-footer-text Don’t have an account?
                    a(href="javascipt:" data-bs-toggle='modal' data-bs-target='#Register') Register

    +modalTypeDefault({id: 'Forgot-password', title: 'Forgot password?'})
            +modalBodyTypeDefault({})
                .modal-form
                    +inputTypeDefault({
                        mix: '',
                        label: 'E-mail',
                        placeholder: '',
                        type: 'text',
                        mask: 'email',
                    })(required)
                    span.modal-subtext The password will be sent to your email
            +modalFooterTypeDefault({btnText: 'Send'})
                span.modal-footer-text I remember password.
                    a(href="javascipt:" data-bs-toggle='modal' data-bs-target='#login') Log in.
