mixin header()
    header.header
        .header__top
            .header__contacts
                a(href="tel:79089498839").header__phone +7 (908) 949-88-39
                span.header__city г. КЕМЕРОВО
            +image({mix: 'header__logo',  src: 'assets/media/LOGO.png'})
            +buttonTypeDefault({text: "Записаться"})
        nav.header__nav
            a.header__nav-item(href='#') О нас
            a.header__nav-item(href='#') Наши достижения
            a.header__nav-item(href='#') РАСПИСАНИЕ ТРЕНИРОВОК
            a.header__nav-item(href='#') ТРЕНЕРСКИЙ СОСТАВ
            a.header__nav-item(href='#') F. A. Q.

