@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.header {
  width: 100vw;
  padding: 20px 0 16px;
  background: config.$colors-black-95;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;

  &__top {
    padding: 0 min(60px, 4.16vw) 20px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid config.$colors-black;
  }

  &__nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px min(116px, 8vw) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media only screen and (max-width: config.$bp-md) {

    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 72px;
  }

  &__phone {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  &__city, &__nav-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  &__nav-item {
    transition: color .3s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: config.$colors-green;
    }
  }

  &__logo {
    width: 74px;
    height: 68px;
  }
}