@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

table {
  border: 1px solid config.$colors-lavender;
  margin-bottom: 8px;
  border-collapse: collapse;
  td,
  th {
    text-align: start;
    color: config.$colors-black-100;
    font-family: config.$font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
  }

  thead th:first-of-type {
    min-width: 232px;
    border-right: 1px solid config.$colors-lavender;
  }
  tbody tr td:first-of-type {
    min-width: 232px;
    border-right: 1px solid config.$colors-lavender;
  }
}

.table-wrapper {
  overflow-x: scroll;
  margin-bottom: 2px;

  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: config.$colors-lavender;
  }
  &::-webkit-scrollbar-track {
    background: rgba(210, 208, 231, 0.30);
  }

  table {
    p {
      margin: 0;
    }
    p,b,span {
      font-family: ArabicPro, sans-serif !important;
    }
  }

  @-moz-document url-prefix() {
    scrollbar-color: #D2D0E7 #F1F1F8;
    scrollbar-width: thin;
  } 
}