extends ../core/ui/layout/templates/default.pug

block title
    | Football Skills

block workarea
    include ../sections/s-hero/index
    include ../sections/s-about/index
    include ../sections/s-progress/index
    include ../sections/s-schedule/index
    include ../sections/s-trainers/index
    include ../sections/s-faq/index
















