-
    search = true;

    aboutBenefits = [
        "ТРЕНИРОВКИ ВО ВСЕХ РАЙОНАХ ГОРОДА",
        "СКИДКА 50 % НА ВТОРОГО РЕБЁНКА ИЗ СЕМЬИ",
        "ТРЕНИРОВКИ МЛАДШИХ ГРУПП В ИГРОВОЙ ФОРМЕ",
        "ИНДИВИДУАЛЬНЫЙ ПОШИВ ФУТБОЛЬНОЙ ЭКИПИРОВКИ",
        "УЧАСТИЕ В РАЗЛИЧНЫХ ТУРНИРАХ И СОРЕВНОВАНИЯХ",
        "ОПЫТНЫЙ ТРЕНЕРСКИЙ СОСТАВ"
    ];
