-
    search = true;

    aboutBenefits = [
        "ТРЕНИРОВКИ ВО ВСЕХ РАЙОНАХ ГОРОДА",
        "СКИДКА 50 <span >%</span> НА ВТОРОГО РЕБЁНКА ИЗ СЕМЬИ",
        "ТРЕНИРОВКИ МЛАДШИХ ГРУПП В ИГРОВОЙ ФОРМЕ",
        "ПОШИВ ФУТБОЛЬНОЙ ЭКИПИРОВКИ",
        "УЧАСТИЕ В ТУРНИРАХ И СОРЕВНОВАНИЯХ",
        "ОПЫТНЫЙ ТРЕНЕРСКИЙ СОСТАВ"
    ];

    cardsYear = [
        {
            num: 1,
            year: 2010,
            text: "ДФК «FOOTBALL SKILLS-2010» создана в 2016 году.\n" +
                    "Неоднократные победители городских, областных\n" +
                    "и межрегиональных соревнований, обладатели\n" +
                    "серебряных и бронзовых наград",
            progressList: [
                "Победитель «Кубка Александра Ерохина-2018 г.» г. Барнаул",
                "Победитель финального этапа Первенства Кузбасса-2023 г. г. Кемерово",
                "Серебряный призёр финального этапа Первенства Кузбасса-2024 г. г. Кемерово",
                "Бронзовый призёр Первенства г. Кемерово-2024 г. г. Кемерово",
                "Бронзовый призёр ДФЛ «Большие звёзды светят малым-2018» г. Барнаул",
                "Бронзовый призёр турнира «FC TYUMEN CUP-2020» г. Тюмень",
                "Бронзовый призёр «Забей в Темпе-2020» г. Барнаул",
                "Бронзовый призёр «ДЮСШ-17»-2022 г. г. Томск",
                "Бронзовый призёр турнира «Кузбасс — шахтёрская 2022 г.» г. Кемерово",
                "Бронзовый призёр финального этапа Первенства Кузбасса-2022 г. г. Кемерово"
            ]
        }, {
            num: 2,
            year: 2011,
            text: "ДФК «FOOTBALL SKILLS-2011» создана в 2017 году. Неоднократные победители в летних и зимних городских соревнованиях, обладатели серебряных и бронзовых наград",
            progressList: [
                "Победитель Первенства г. Кемерово-2024 г. г. Кемерово",
                "Победитель финального этапа Первенства Кузбасса-2024 г. г. Новокузнецк",
                "Неоднократный участник и призёр «KIMBERLY-CUP» Лиги чемпионов Сибири в 2019/2020 г.г.",
                "Серебряный призёр «Сибирский Кубок-2019 г.» на призы Александра Соболева г. Барнаул",
                "Бронзовый призёр финального турнира Областных соревнований-2023 г. г. Кемерово",
                "Бронзовый призёр Чемпионата Кузбасса Областных соревнований-2022 г. г. Кемерово",
                "Участник финального этапа Первенства Сибири-2024 г. ( 5 место) г. Новосибирск"
            ]
        }, {
            num: 3,
            year: 2012,
            text: "ДФК «FOOTBALL SKILLS-2012» начала свою историю\n" +
                    "в 2018 году, регулярно принимая участие в турнирах\n" +
                    "различного уровня. Команда «FOOTBALL SKILLS-2012»\n" +
                    "неоднократно становилась победителем и призёром\n" +
                    "в городских, областных и региональных соревнованиях",
            progressList: [
               "Победитель «Открытого кубка Казани памяти В.И.Голубева-2021 г.» г. Казань",
               "Победитель «Открытого турнира МАУ ДО ДЮСШ 17-2021 г.» г. Томск",
               "Победитель «Кубка Гагарина-2022 г.» г. Кемерово",
               "Победитель финального этапа Первенства Кузбасса-2022 г. г. Новокузнецк",
               "Победитель финального этапа Первенства Кузбасса-2023 г. г. Кемерово",
               "Победитель Первенства и Кубка лиги  г. Кемерово-2024 г. г. Кемерово",
               "Победитель финального этапа Первенства Кузбасса-2024 г. г. Междуреченск",
               "Серебряный призёр Лиги «Пионер-2021 г.» г. Омск",
               "Серебряный призёр «Kimberly-Cup-2019, League Siberia» г. Новосибирск",
               "Серебряный призёр XVIII Международного фестиваля «ЛОКОБОЛ-2024-РЖД»",
               "Серебряный призёр турнира «Кузбасс — шахтёрская столица» 2022 г. г. Кемерово",
               "Бронзовый призёр «Future Football Generation Cup-2019 г.» г. Новосибирск",
               "Бронзовый призёр «Kimberly-Cup-2020 г.» г. Новосибирск",
               "Бронзовый призёр «Кубок Дружбы-2021 г.» г. Омск"
            ]
        }, {
            num: 4,
            year: 2013,
            text: "ДФК «FOOTBALL SKILLS-2013» создана в 2019 году. Команда неоднократно становилась победителем в летних и зимних городских соревнованиях, также победителями и призёрами городских первенств в старшей возрастной группе по 2012 году рождения",
            progressList: [
               "Победитель «KIMBERLY-CUP» Лиги чемпионов Сибири-2021 г. г. Новосибирск",
               "Победитель Первенства г. Кемерово-2024 г. (Кубок г. Кемерово)",
               "Победитель Кубка пос. Плотниково «Твой стадион-2021 г.» пос. Плотниково",
               "Серебряный призёр «Золотого Кубка горняка-2022 г.» г. Ленинск-Кузнецкий",
               "Серебряный призёр турнира «Кузбасс — шахтёрская столица 2022 г.» г. Кемерово",
               "Серебряный призёр финальных областных соревнований 2023 г. г. Новокузнецк",
               "Бронзовый призёр Первенства Кузбасса-2024 г. г. Кемерово",
               "Бронзовый призёр финального этапа Первенства Кузбасса-2024 г. г. Новокузнецк",
               "Неоднократный участник и призёр «KIMBERLY-CUP» Лиги чемпионов Сибири в 2019/2020 г.г."
            ]
        }, {
            num: 5,
            year: 2014,
            text: "ДФК «FOOTBALL SKILLS-2014» создана в 2020 году.\n" +
                    "Команда неоднократно становилась победителем\n" +
                    "летних/зимних городских соревнований, призёрами\n" +
                    "различных турниров. В 2024 году команда вышла\n" +
                    "в финал Первенства области Кузбасса",
            progressList: [
                "Победитель турнира “Кубок Плотниково-2022 г.” по мини-футболу пос. Плотниково",
                "Победитель турнира по мини-футболу Кузбасса-2023 г. г. Белово",
                "Бронзовый призёр Кубка «Твой стадион-2022 г.» г. Белово",
                "Бронзовый призёр Первенства г. Кемерово-2024 г. г. Кемерово"
            ]
        }, {
            num: 6,
            year: 2015,
            text: "ДФК «FOOTBALL SKILLS-2015» создана в 2021 году. Команда неоднократно принимает участие в летних и зимних городских соревнованиях",
            progressList: [
                "Победитель турнира “Кубок Плотниково-2023 г.” по мини-футболу пос. Плотниково"
            ]
        }
    ]

    districts = [
        {
            num: 1,
            district: "ЦЕНТРАЛЬНЫЙ РАЙОН",
            filials: [
                {
                    address: "Спортивный зал МБОУ «СОШ № 7» г. Кемерово, ул. Пролетарская, 10",
                    groups: [
                        {
                            img: "foBottom",
                            name: "/МАЛЫШ/ 6-8 ЛЕТ",
                            schedule: ["Среда 19:00-20:00", "Суббота 15:00 - 16:00"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕССИВ/ 8-10 ЛЕТ",
                            schedule: ["Понедельник 19:00-21:15", "Среда 20:00 - 21:15", "Суббота 16:00 - 17:15"]
                        }
                    ]
                }
            ]
        }, {
            num: 2,
            district: "ЛЕНИНСКИЙ РАЙОН",
            filials: [
                {
                    address: "Спортивный зал МБОУ «СОШ № 58» г. Кемерово, ул. Ворошилова, 18Д",
                    groups: [
                        {
                            img: "treeTop",
                            name: "/МАЛЫШ/ 6-8 ЛЕТ",
                            schedule: ["Вторник 18:30 - 19:30", "Четверг 18:30 - 19:30", "Воскресенье 17:00 - 18:00"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕССИВ/ 8-10 ЛЕТ",
                            schedule: ["Вторник 19:30-21:00" , "Четверг 19:30 - 21:00", "Воскресенье 18:00 - 19:30"]
                        }
                    ]
                }, {
                    address: "Спортивный зал МБОУ «СОШ № 77» г. Кемерово, пр-т Октябрьский, 56Б",
                    groups: [
                        {
                            img: "foBottom",
                            name: "/ПРОГРЕССИВ/ 7-9 ЛЕТ",
                            schedule: ["Понедельник 20:00-21:15", "Среда 19:00-20:15"]
                        }
                    ]
                }
            ]
        }, {
            num: 3,
            district: "ЗАВОДСКИЙ РАЙОН",
            filials: [
                {
                    address: "Спортивный зал МАОУ «СОШ № 78» г. Кемерово, ул. Юрия Двужильного, 12В",
                    groups: [
                        {
                            img: "foBottom",
                            name: "/СТАРТ/ 7-10 ЛЕТ",
                            schedule: ["Понедельник 18:45-20:00", "Среда 18:45-20:00", "Воскресенье 10:00-11:30"]
                        }, {
                            img: "treeTop",
                            name: "/ПРОГРЕССИВ/ 9-12 ЛЕТ",
                            schedule: ["Понедельник 17:30-18:45", "Среда 17:30 - 18:45", "Пятница 18:30 - 20:00"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕСС/ 13-15 ЛЕТ",
                            schedule: ["Понедельник 20:00-21:30", "Среда 20:00-21:30", "Воскресенье 11:30-13:00"]
                        }
                    ]
                }
            ]
        }, {
            num: 4,
            district: "РУДНИЧНЫЙ РАЙОН",
            filials: [
                {
                    preAddresss: "1 КОРПУС",
                    address: "Спортивный зал МАОУ «СОШ № 36» г. Кемерово, ул. Серебряный бор, 11Б",
                    groups: [
                        {
                            img: "foBottom",
                            name: "/МАЛЫШ 3/ 3,5-5,5 ЛЕТ",
                            schedule: ["Понедельник 18:45-19:45", "Среда 18:45 - 19:45"]
                        }, {
                            img: "treeTop",
                            name: "/МАЛЫШ 2/ 5,5-7,5 ЛЕТ",
                            schedule: ["Понедельник 19:45-21:00", "Пятница 19:45 - 21:00"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕССИВ/ 6-8 ЛЕТ",
                            schedule: ["Понедельник 19:45-21:00", "Среда 19:45 - 21:00", "Пятница 18:45 - 19:45"]
                        }
                    ]
                }, {
                    preAddresss: "2 КОРПУС",
                    address: "Спортивный зал МАОУ «СОШ № 36» г. Кемерово, ул. Серебряный бор, 11Б",
                    groups: [
                        {
                            img: "treeBottom",
                            name: "/СТАРТ-ЮНИОР/ 8-10 ЛЕТ",
                            schedule: ["Вторник 18:45-20:00", "Четверг 18:45 - 20:00", "Пятница 18:45 - 20:00"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕСС/ 11-14 ЛЕТ",
                            schedule: ["Вторник 18:45-20:00", "Четверг 18:45 - 20:00" , "Пятница 18:45 - 20:00"]
                        }
                    ]
                }
            ]
        }, {
            num: 5,
            district: "ЛЕСНАЯ ПОЛЯНА",
            filials: [
                {
                    address: "Спортивный зал МАОУ «Гимназия № 42» г. Кемерово, ул. Щегловская, 2",
                    groups: [
                        {
                            img: "foBottom",
                            name: "/МАЛЫШ/ 4-6 ЛЕТ",
                            schedule: ["Вторник 18:15-19:15", "Четверг 18:15 - 19:15"]
                        }, {
                            img: "foRight",
                            name: "/ПРОГРЕССИВ/ 8-11 ЛЕТ",
                            schedule: ["Понедельник 18:30-19:45", "Вторник 19:15 - 20:45", "Пятница 19:00 - 20:30"]
                        }
                    ]
                }
            ]
        }, {
            num: 6,
            district: "Кировский район",
            filials: false
        }
    ]

    trainers = [
        {
            num: 1,
            hasPhoto: true,
            name: "Матюшев Олег Николаевич",
            jobTitle: "Главный тренер/руководитель",
            career: "воспитанник Кемеровского\n" +
                    "футбола с 1985 г. МУ «СДЮСШОР по футболу» г. Кемерово.\n" +
                    "Профессионально играл за такие клубы, как: ФК «Кузбасс»\n" +
                    "г. Кемерово, ФК «Иртыш» г. Омск, ФК «Кузбасс-Динамо»\n" +
                    "г. Кемерово, ФК «Динамо» г. Барнаул, ФК «Распадская»\n" +
                    "г. Междуреченск, ФК «Кемерово» г. Кемерово",
            workExperience: "c 2014 года",
            license: "С-УЕФА",
            education: "высшее"
        }, {
            num: 2,
            hasPhoto: true,
            name: "Лобатнёв Юрий Юрьевич",
            jobTitle: "Тренер",
            career: "воспитанник Кемеровского футбола с 1992 г.МУ «СДЮСШОР по футболу» г.Кемерово.Профессионально играл за такие клубы, как: ФК «Кузбасс» г.Кемерово, ФК «Динамо» г.Кемерово, ФК «Кузбасс - Динамо» г.Кемерово, ФК «Распадская» г.Междуреченск, ФК «Кемерово» г.Кемерово, ФК «Шахтёр» г.Прокопьевск",
            workExperience: "c 2014 года",
            license: "С-УЕФА",
            education: "высшее"
        }, {
            num: 3,
            hasPhoto: true,
            name: "Селезнёв Игорь Валентинович",
            jobTitle: "Тренер",
            career: "воспитанник Кемеровского\n" +
                    "футбола с 1976 г. МУ «СДЮСШОР по футболу» г. Кемерово.\n" +
                    "Профессионально играл за такие клубы, как: ФК «Кузбасс»\n" +
                    "г. Кемерово, ФК «Динамо» г. Кемерово, ФК «Кузбасс-Динамо»\n" +
                    "г. Кемерово, ФК «Прогресс» г. Бийск, ФК «Мотор» г. Прокопьевск",
            workExperience: "c 1996 года",
            license: "В-Юношеский футбол",
            education: "высшее"
        }, {
            num: 4,
            hasPhoto: true,
            name: "Пархоменко Михаил Витальевич",
            jobTitle: "Тренер",
            career: "воспитанник Кемеровского футбола с 2003 г.: Клуб по месту жительства «Восток» г.Кемерово, МУ «СДЮСШОР по футболу» г.Кемерово.Профессионально играл за такие клубы, как: ФК «Сибирь» г.Новосибирск, ФК «Корпорация «АСИ» г.Кемерово, ФК «Заря - СУЭК» г.Ленинск - Кузнецкий",
            workExperience: "c 2018 года",
            license: false,
            education: "высшее"
        }, {
            num: 5,
            hasPhoto: true,
            name: "Филимонов Иван Сергеевич",
            jobTitle: "Тренер",
            career: "воспитанник Кемеровского\n" +
                    "футбола с 2002 г. МУ «СДЮСШОР по футболу» г. Кемерово",
            workExperience: "c 2017 года",
            license: false,
            education: "высшее"
        }, {
            num: 6,
            hasPhoto: true,
            name: "Быков Павел Юрьевич",
            jobTitle: "Тренер",
            career: "воспитанник Новосибирского футбола с 2003 г.МУ ДЮСШ «Динамо» г.Тогучин",
            workExperience: "c 2017 года",
            license: false,
            education: "высшее"
        }, {
            num: 7,
            hasPhoto: true,
            name: "Туренко Николай Сергеевич",
            jobTitle: "Тренер",
            career: "воспитанник Кемеровского\n" +
                    "футбола с 2000 г. МБУ ДО «ИЖМОРСКАЯ ДЮСШ по футболу»\n" +
                    "г. Анжеро-Судженск",
            workExperience: "c 2020 года",
            license: false,
            education: "высшее"
        }
    ]

    faq = [
        {
            question: "Необходима ли медицинская справка о разрешении занятия спортом при приёме в школу?",
            answer: "Да, предоставление данной справки обязательно"
        }, {
            question: "Тренируются ли дети разного возраста в одной группе, например, 5-ти летние с 10-ти летними?",
            answer: "Нет, занятия проводятся строго по возрастным группам"
        }, {
            question: "Производится ли перерасчёт абонемента, если ребёнок пропустил тренировку по болезни?",
            answer: "Да, производим перерасчёт на следующий месяц при наличии медицинской справки"
        }, {
            question: "Не повлияет ли отрицательно тренировочный процесс на успеваемость в школе?",
            answer: "Необходимо спланировать день ребёнка так, чтобы уделять образованию достаточное количество времени с соблюдением режима дня"
        }, {
            question: "В какой одежде и обуви ребёнок должен посещать футбольную секцию?",
            answer: "До того, как ребёнок получит форму, на занятия нужно приходить в обычной\n" +
                    "спортивной форме: футболка, шорты, кеды/футзалки. Летом наши занятия проходят\n" +
                    "на открытых площадках. В таких случаях спортивная одежда должна соответствовать\n" +
                    "погодным условиям. Важно, чтобы форма была удобной и не стесняла движений ребёнка"
        }, {
            question: "Производится ли перерасчёт абонемента, если ребёнок пропустил тренировку по болезни?",
            answer: "Да, производим перерасчёт на следующий месяц при наличии медицинской справки"
        }
    ]


    social = [
        {
            icon: "s1f",
            link: "https://wa.me/79089498839"
        }, {
            icon: "s2f",
            link: "https://vk.com/football_skills42"
        }, {
            icon: "s3f",
            link: "https://t.me/+-ycqk1mKl-9hYmQy"
        }
    ]

    partners = [
        {icon: "p1", link: "https://2gis.ru/kemerovo/firm/70000001076256370"},
        {icon: "p2", link: "https://www.dynamo.su/about/organizations/kemerovskoe-oblastnoe-otdelenie-obshchestva-dinamo/"},
        {icon: "p3", link: "https://raduga36.ru/"},
        {icon: "p4", link: "http://school78kem.ru/"},
        {icon: "p5", link: "https://kem-school77.ru/"},
        {icon: "p6", link: "http://школа58кемерово.рф/"},
        {icon: "p7", link: "https://gimnaziya42-kem.kemobl.ru/"},
        {icon: "p8", link: "http://stadium-shahter.ru/"},
    ]
