@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';
@use '../core/ui/container';
@use '../core/ui/button';
@use '../core/ui/input';
@use '../core/ui/icon';
@use '../core/ui/checkbox';
@use '../core/ui/image';
@use '../core/ui/section';
@use '../core/ui/footer';
@use '../core/ui/header';
@use '../core/ui/swiper';
@use '../core/ui/modal';
@use '../core/ui/slider';
@use '../core/ui/card-year';
@use '../core/ui/card-district';
@use '../core/ui/card-trainer';
@use '../core/ui/card-faq';
@use '../core/ui/radio-group';
@use '../core/ui/form';
@use '../core/ui/radio-accordion';
@use '../core/ui/cookie';




@use '../sections/s-hero';
@use '../sections/s-about';
@use '../sections/s-progress';
@use '../sections/s-schedule';
@use '../sections/s-trainers';
@use '../sections/s-faq';
@use '../sections/s-news';
@use '../sections/s-politic';



@include lib.font("AlumniSans", 100, "alumni-sans-100");
@include lib.font("AlumniSans", 200, "alumni-sans-200");
@include lib.font("AlumniSans", 300, "alumni-sans-300");
@include lib.font("AlumniSans", 400, "alumni-sans-400");
@include lib.font("AlumniSans", 500, "alumni-sans-500");
@include lib.font("AlumniSans", 600, "alumni-sans-600");
@include lib.font("AlumniSans", 700, "alumni-sans-700");
@include lib.font("AlumniSans", 800, "alumni-sans-800");
@include lib.font("AlumniSans", 900, "alumni-sans-900");

@include lib.fontT("AlumniSansItalic", 500, "AlumniSans-SemiBoldItalic");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: config.$font-primary;
  font-weight: config.$font-weight;
  font-size: 16px;
  text-decoration: none;
  color: config.$colors-white;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }


  a {
    color: config.$colors-white;
  }
}

.body {
  background: config.$colors-bg;
}

a, button {
  cursor: pointer;
  background: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

.row-flex {
  @include lib.flex-row;
}

.row-col {
  @include lib.flex-col;
}

.row-flex._center, .row-col._center {
  align-items: center;
}

.row-flex._gap_xxs, .row-col._gap_xxs {
  gap: 5px;
}

.row-flex._gap_sm, .row-col._gap_sm {
  gap: 12px;
}

.row-flex._gap_md, .row-col._gap_md {
  gap: 20px;
}

.row-flex._gap_l, .row-col._gap_l {
  gap: 30px;
}

.row-flex._gap_xl, .row-col._gap_xl {
  gap: 40px;
}

.row-col._gap_xxxl, .row-flex._gap_xxxl {
  gap: 80px;
}

.row-flex._space_auto, .row-col._space_auto {
  justify-content: space-between;
}

.row-flex._flex-start, .row-col._flex-start {
  align-items: flex-start;
}

.row-flex._wrap, .row-col._wrap {
  flex-wrap: wrap;
}

._mob-row-col {

  @media only screen and (max-width: config.$bp-sm) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

._mob_block {
  display: none;

  @media only screen and (max-width: config.$bp-tablet) {
    display: block;
  }
}

._mob_flex {
  display: none;

  @media only screen and (max-width: config.$bp-tablet) {
    display: flex;
  }
}

._mob_hidden {

  @media only screen and (max-width: config.$bp-tablet) {
    display: none;
  }
}

._flex-wrap {
  flex-wrap: wrap;

  @media only screen and (max-width: config.$bp-tablet) {
    column-gap: 26px !important;
    row-gap: 0 !important;
  }
}

._mob-flex-wrap {

  @media only screen and (max-width: config.$bp-tablet) {
    flex-wrap: wrap;
    column-gap: 26px !important;
    row-gap: 0 !important;
  }
}

._tablet_block{
  display: none;

  @media only screen and (max-width: config.$bp-md) {
    display: block;
  }
}

