//- variables
block variables
  include ../../../config/pug/vars
  block addVar


//- mixins
include ../../input/index
include ../../button/index
include ../../icon/index
include ../../checkbox/index
include ../../image/index
include ../../modal/index
include ../../header/index
include ../../card-year/index
include ../../card-district/index
include ../../card-trainer/index
include ../../card-faq/index
include ../../radio-group/index
include ../../cookie/index


html(lang="ru")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", href="vendors/swiper/swiper-bundle.css")
  link(rel="stylesheet", href="vendors/bootstrap-modal/bootstrap-modal.min.css")
  link(rel="stylesheet", href="css/index.css")

  title
    block title

  body.body

    +header(auth, search)

    main.main
      block workarea


    if footer
      include ../../footer/index

    +cookie({})


    +modalTypeDefault({id: "finish", mix: "_type_image"})
      +image({mix: "modal__image", src: `assets/media/GOAL.png`, alt: "GOAL!"})
      +image({mix: "modal__image-bg", src: `assets/media/ballHalf.png`, alt: ""})


    +modalTypeDefault({id: "form"})
      form.form
        h2.form__title / ЖДЁМ, КОГДА ЗАБЬЁТЕ ГОЛ! /
        +inputTypeDefault({
          mix: "form__input",
          label: "ВАШЕ ИМЯ*",
          type: "text",
          id: "name",
          placeholder: "Имя",
          mask: "text"
        })(required)
        +inputTypeDefault({
          mix: "form__input",
          label: "ВАШ № телефона*",
          type: "text",
          id: "mobile-phone",
          placeholder: "+7 ___ ___-__-__",
          mask: "mobile-phone"
        })(required)
        +inputTypeDefault({
          mix: "form__input",
          label: "имя ребёнка*",
          type: "text",
          id: "childName",
          placeholder: "Имя",
          mask: "text"
        })(required)
        .radio-accordion.form__radio-accordion
          .radio-accordion__header
            h4.radio-accordion__label Возраст ребёнка*
            button.radio-accordion__button
              +icon({id: 'plus', mix: "radio-accordion__icon-plus"})
              +icon({id: 'minus', mix: "radio-accordion__icon-minus"})
          .radio-accordion__body
            +radioGroup({
              mix: "radio-accordion__radio-group",
              name: 'age',
              options: [
                {value: '3-6', label: '3-6 лет'},
                {value: '7-9', label: '7-9 лет'},
                {value: '10-15', label: '10-15 лет'}
              ],
              value: '3-6'
            })
        .radio-accordion.form__radio-accordion
          .radio-accordion__header
            h4.radio-accordion__label Выбор района*
            button.radio-accordion__button
              +icon({id: 'plus', mix: "radio-accordion__icon-plus"})
              +icon({id: 'minus', mix: "radio-accordion__icon-minus"})
          .radio-accordion__body
            +radioGroup({
              mix: "radio-accordion__radio-group",
              name: 'district',
              options: [
                {value: 'center', label: 'Центральный р-н'},
                {value: 'leninsky', label: 'Ленинский р-н'},
                {value: 'zavodskoy', label: 'Заводский р-н'},
                {value: 'rudnichnyi', label: 'Рудничный р-н'},
                {value: 'lesnaya', label: 'мкр-н Лесная поляна'},
                {value: 'kirivskiy', label: 'Кировский р-н'}
              ],
              value: 'center'
            })

        .form__bottom
          +buttonTypeDefault({mix: "_size_md form__button disabled", text: "ОТПРАВИТЬ ЗАЯВКУ"})

          +checkboxTypeDefault({id: "politicForm"})(type="submit")
            .form__labels-bottom
              span.form__text-bottom Согласен на обработку персональных данных
              a(href="").form__text-bottom._type_link Политика конфиденциальности


    script(src="vendors/jquery/jquery-3.6.0.min.js")
    script(src="vendors/imask/imask.min.js")
    script(src="vendors/swiper/swiper-bundle.min.js")
    script(src="vendors/bootstrap-modal/bootstrap-modal.bundle.min.js")
    script(src="js/index.js")
