//- variables
block variables
  include ../../../config/pug/vars
  block addVar


//- mixins
include ../../input/index
include ../../button/index
include ../../icon/index
include ../../checkbox/index
include ../../image/index
include ../../modal/index
include ../../header/index
include ../../card-year/index
include ../../card-district/index
include ../../card-trainer/index
include ../../card-faq/index
include ../../radio-group/index

html(lang="ru")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel="stylesheet", href="vendors/noUiSlider/nouislider.min.css")
  link(rel="stylesheet", href="vendors/swiper/swiper-bundle.css")
  link(rel="stylesheet", href="vendors/bootstrap-modal/bootstrap-modal.min.css")
  link(rel="stylesheet", href="vendors/select2/select2.min.css")
  link(rel="stylesheet", href="vendors/zuck/zuck.css")
  link(rel="stylesheet", href="vendors/fancybox/fancybox.css")
  link(rel="stylesheet", href="css/index.css")

  title
    block title

  body.body

    +header(auth, search)

    main.main
      block workarea


    if footer
      include ../../footer/index


    script(src="vendors/jquery/jquery-3.6.0.min.js")
    script(src="vendors/imask/imask.min.js")
    script(src="vendors/noUiSlider/nouislider.min.js")
    script(src="vendors/swiper/swiper-bundle.min.js")
    script(src="vendors/bootstrap-modal/bootstrap-modal.bundle.min.js")
    script(src="vendors/select2/select2.min.js")
    script(src="vendors/zuck/zuck.js")
    script(src="vendors/fancybox/fancybox.min.js")
    script(src="js/index.js")
