$black: #000;
$black-100: #141414;
$black-80: rgba(20, 20, 20, 0.80);
$black-60: rgba(20, 20, 20, 0.60);
$black-40: rgba(20, 20, 20, 0.40);
$modal-bg: rgba(0, 0, 0, 0.60);
$black-5: rgba(20, 20, 20, 0.05);
$cyan-20: rgba(191, 207, 213, 0.20);
$cyan-100: #BFCFD5;
$gray-1: #333;
$unactive-text: rgba(0, 0, 0, 0.40);
$white: #fff;
$grasser-white: #F0EDE3;
$lavender: #D2D0E7;
$red: #FF3900;
