$black: #000;
$bg: rgba(30, 29, 29, 1);
$black-100: #141414;
$black-95: rgba(31, 30, 30, 0.95);
$black-80: rgba(31, 30, 30, 0.80);
$black-75: rgba(30, 29, 29, 0.75);
$black-60: rgba(31, 30, 30, 0.60);
$black-50: rgba(31, 30, 30, 0.5);
$black-40: rgba(31, 30, 30, 0.40);
$black-20: rgba(31, 30, 30, 0.2);
$modal-bg: rgba(0, 0, 0, 0.60);
$black-5: rgba(31, 30, 30,  0.05);
$cyan-20: rgba(191, 207, 213, 0.20);
$cyan-100: #BFCFD5;
$gray-1: #333;
$unactive-text: rgba(0, 0, 0, 0.40);
$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);
$lavender: #D2D0E7;
$red: #FF3900;
$green: #4FF94B;
$green-60: rgba(79, 249, 75, 0.6);
