@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.swiper {

  &-wrapper {
    height: max-content;
  }

  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background: config.$colors-white;
    opacity: 1;

    &-active {
      background: #181818;
    }
  }

  &-pagination-bullets {
    bottom: 20px !important;
  }

  &-button-next, &-button-prev {
    width: 40px;
    height: 40px;
    background-color: config.$colors-black-100;
    border-radius: 50%;
    padding: 8px;
    z-index: 400;
    top: calc(50% - 20px) !important;

    @media only screen and (max-width: config.$bp-sm) {
      width: 32px;
      height: 32px;
      top: calc(50% - 16px) !important;
    }

    &:after {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 80%;
      height: 70%;
      top: 15%;
      left: 5%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &-button-prev {
    left: 0;

    //@media only screen and (max-width: config.$bp-sm) {
    //  left: -16px;
    //}

    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.16484 12.7149C2.81175 12.303 2.81175 11.6951 3.16484 11.2832L9.16484 4.2832C9.56021 3.82194 10.2546 3.76853 10.7159 4.16389C11.1772 4.55925 11.2306 5.25368 10.8352 5.71494L6.39167 10.8991L20 10.8991C20.6075 10.8991 21.1 11.3916 21.1 11.9991C21.1 12.6066 20.6075 13.0991 20 13.0991L6.39167 13.0991L10.8352 18.2832C11.2306 18.7445 11.1772 19.4389 10.7159 19.8343C10.2546 20.2296 9.56021 20.1762 9.16484 19.7149L3.16484 12.7149Z" fill="white"/></svg>');

      @media only screen and (max-width: config.$bp-sm) {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.63731 10.5958C2.34307 10.2525 2.34307 9.74595 2.63731 9.40266L7.63731 3.56933C7.96678 3.18495 8.54547 3.14044 8.92985 3.4699C9.31423 3.79938 9.35875 4.37807 9.02928 4.76245L5.32633 9.08256L16.6666 9.08256C17.1729 9.08256 17.5833 9.49296 17.5833 9.99922C17.5833 10.5055 17.1729 10.9159 16.6666 10.9159L5.32633 10.9159L9.02928 15.236C9.35875 15.6204 9.31423 16.1991 8.92985 16.5285C8.54547 16.858 7.96678 16.8135 7.63731 16.4291L2.63731 10.5958Z" fill="white"/></svg>');
      }
    }
  }

  &-button-next {
    right: 0;

    //@media only screen and (max-width: config.$bp-sm) {
    //  right: -16px;
    //}

    &:before {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.8352 11.2851C21.1882 11.697 21.1882 12.3049 20.8352 12.7168L14.8352 19.7168C14.4398 20.1781 13.7454 20.2315 13.2841 19.8361C12.8228 19.4407 12.7694 18.7463 13.1648 18.2851L17.6083 13.1009L3.99997 13.1009C3.39246 13.1009 2.89997 12.6084 2.89997 12.0009C2.89997 11.3934 3.39246 10.9009 3.99997 10.9009L17.6083 10.9009L13.1648 5.7168C12.7694 5.25554 12.8228 4.56111 13.2841 4.16575C13.7454 3.77038 14.4398 3.8238 14.8352 4.28506L20.8352 11.2851Z" fill="white"/></svg>');

      @media only screen and (max-width: config.$bp-sm) {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3627 9.40422C17.6569 9.7475 17.6569 10.2541 17.3627 10.5973L12.3627 16.4307C12.0332 16.8151 11.4545 16.8596 11.0701 16.5301C10.6858 16.2006 10.6413 15.6219 10.9707 15.2376L14.6737 10.9174L3.33338 10.9174C2.82712 10.9174 2.41671 10.507 2.41671 10.0008C2.41671 9.49452 2.82712 9.08411 3.33338 9.08411L14.6737 9.08411L10.9707 4.764C10.6413 4.37962 10.6858 3.80093 11.0701 3.47146C11.4545 3.14199 12.0332 3.18651 12.3627 3.57089L17.3627 9.40422Z" fill="white"/></svg>');
      }
    }
  }

  &-button-disabled {
    display: none;
  }
}

.swiper._over-visible {
  //overflow: visible;
  //
  //.swiper-wrapper {
  //  overflow: hidden;
  //}
}

.swiper--stories {
  height: fit-content;

  &-button {
    position: absolute;
    top: calc(50% - 20px);
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    background-color: config.$colors-black-100;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.8352 11.8949C21.1882 12.3068 21.1882 12.9147 20.8352 13.3266L14.8352 20.3266C14.4398 20.7879 13.7454 20.8413 13.2841 20.4459C12.8228 20.0506 12.7694 19.3562 13.1648 18.8949L17.6083 13.7108L3.99997 13.7108C3.39246 13.7108 2.89997 13.2183 2.89997 12.6108C2.89997 12.0032 3.39246 11.5108 3.99997 11.5108L17.6083 11.5108L13.1648 6.32663C12.7694 5.86537 12.8228 5.17094 13.2841 4.77558C13.7454 4.38022 14.4398 4.43363 14.8352 4.89489L20.8352 11.8949Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 400;

    &.swiper-button-disabled {
      display: none;
    }

    &-prev {
      left: 0;
      transform: rotate(180deg);
    }
    &-next {
      right: 0;
    }
  }
}
