@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.swiper {

  &-container {
    position: relative;
  }

  &-wrapper {
    height: max-content;
  }

  &-pagination-bullet {
    width: 12px;
    height: 12px;
    background: config.$colors-white;
    opacity: 1;

    &-active {
      background: #181818;
    }
  }

  &-pagination-bullets {
    bottom: 20px !important;
  }

  &-button-next, &-button-prev {
    width: 60px;
    height: 60px;
    z-index: 400;
    top: calc(50% - 30px) !important;

    @media only screen and (max-width: config.$bp-tablet) {
      width: 25px;
      height: 28px;
      top: calc(50% - 14px) !important;
    }

    &:after {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &-button-prev {
    left: 0;

    &:before {
      background-image: url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3223 47.6777L14.0589 31.4142C13.2778 30.6332 13.2778 29.3668 14.0589 28.5858L30.3223 12.3223" stroke="white"/></svg>');

    }
  }

  &-button-next {
    right: 0;

    &:before {
      background-image: url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M29.6777 47.6777L45.9411 31.4142C46.7222 30.6332 46.7222 29.3668 45.9411 28.5858L29.6777 12.3223" stroke="white"/></svg>');
    }
  }

  &-button-disabled {
    opacity: .5;
  }

  &-pagination-current, &-pagination-total, &-pagination {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 16px;
    }
  }

  &-pagination-total {
    opacity: .5;
  }
}
