@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.button {
  background: config.$colors-green;
  color: config.$colors-black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 88px;
  cursor: pointer;
  transition: .3s ease;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  border-radius: 8px;
  position: relative;
  text-transform: uppercase;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 2px;
    width: calc(100% - 4px);
    height: 4px;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:before {
    top: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 2px solid config.$colors-black-50;
  }

  &:after {
    bottom: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid config.$colors-black-50;
  }

  &:hover:before, &:hover:after {
    opacity: 1;
  }


  @media only screen and (max-width: config.$bp-sm) {

  }
}

.button:disabled, .button._disabled {
  color: config.$colors-black-20;
  background: config.$colors-green-60;
  pointer-events: none;
  cursor: not-allowed;
}

.button._size_md {
  padding: 10px 64px;
  font-size: 32px;
  line-height: 38px;
}