@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.button {
  background: config.$colors-green;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 88px;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 8px;
  position: relative;
  gap: 3px;

  & > span {
    display: inline-flex;
    gap: 4px;
  }

  & > span, * {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: config.$colors-black;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 2px;
    width: calc(100% - 4px);
    height: 4px;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:before {
    top: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 2px solid config.$colors-black-50;
  }

  &:after {
    bottom: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid config.$colors-black-50;
  }

  &:hover:before, &:hover:after {
    opacity: 1;
  }

}

.button:disabled, .button._disabled {

  background: config.$colors-green-60;
  pointer-events: none;
  cursor: not-allowed;

  & > span,  * {
    color: config.$colors-black-20;
  }
}

.button._size_md {
  padding: 10px 64px;

  @media only screen and (max-width: config.$bp-tablet) {
    padding: 6px 88px;
  }


  & > span,  * {
    font-size: 32px;
    line-height: 38px;

    @media only screen and (max-width: config.$bp-tablet) {
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 1%;
    }
  }
}

.button._size_sm {
  padding: 6px;

  & > span,  * {
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.button._theme_transparent {
  background: transparent;
  border: 1px solid config.$colors-white;
  border-radius: 4px;

  & > span,  * {
    color: config.$colors-white;
  }
}
