footer.footer
    .footer__layout
        .container
            .footer__content
                .footer__sochials
                    h4.footer__subtitle СВЯЗЬ С НАМИ:
                    .footer__sochials-links
                        each el in social
                            a(href=el.link).footer__sochials-icon
                                +icon({
                                    mix: '_size_sm ',
                                    id: el.icon
                                })
                    a(href="mailto:89089498839a@gmail.com").footer__link-social 89089498839a@gmail.com

                .footer__partners
                    a(href="/news.html").footer__link-news Новости
                    h4.footer__subtitle НАШИ ПАРТНёРЫ:
                    .footer__partners-links
                        each val in partners
                            a(href=val.link).footer__partner-link
                                +icon({
                                    id: val.icon,
                                    mix: "footer__partner-link-icon"
                                })
                                +icon({
                                    id: `${val.icon}h`,
                                    mix: "footer__partner-link-icon _hovered"
                                })

                .footer__eq
                    .footer__eq-content
                        +image({mix: "footer__back", src: `assets/media/set.png`, alt: ""})
                        h4.footer__subtitle._mob_hidden ЗАКАЗ ЭКИПИРОВКИ:
                        a(href="https://wa.me/79039464875" target="_blank")._mob_flex ЗАКАЗ ЭКИПИРОВКИ
                        +image({mix: "footer__logo", src: `assets/media/logoA.png`, alt: "logo"})
                        a(href="https://wa.me/79039464875" target="_blank")._mob_hidden ОФОРМИТЬ заказ

                a(href="politic.html").footer__politic Политика конфиденциальности

                .footer__authors
                    //a(href="mailto: oleg.matjushev@rambler.ru").footer__author-ol oleg.matjushev@rambler.ru
                    a(href="https://t.me/tatyanaartyukhina").footer__author-t WEB DESIGNER: artyukhina tatyana





