section.section.s-faq#faq
    .container
        .section__content
            h2.section__title F. A. Q.
            .s-faq__content
                each el, index in faq
                    +cardFAQ({num: index + 1, question: el.question, answer: el.answer})
            span.section__ps / Давай, ударь и никогда не сдавайся! /
            +buttonTypeDefault({text: "Записаться НА БЕСПЛАТНОЕ ЗАНЯТИЕ", mix: "_size_md s-faq__button"})



