mixin modalTypeContent(params)
    -
        const classes = params.mix ? `modal fade _type_content ${params.mix}` : 'modal fade _type_content';

    div(tabindex='-1' id=params.id class= classes)
        .modal-dialog&attributes(attributes)
            .modal-content
                block


